@()(implicit flash: Flash)

@import views.html.bootstrap3.alerts

@main("Ekran główny") {
    <div class="col-12">
        @alerts(flash)
        <div class="row">
            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.UserController.getAll()">
                        <h4 class="card-title text-center">Użytkownicy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.MovieController.getAll()">
                        <h4 class="card-title text-center">Filmy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.FilmtypeController.getAll()">
                        <h4 class="card-title text-center">Gatunki</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.DirectorController.getAll()">
                        <h4 class="card-title text-center">Reżyserzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.ActorController.getAll()">
                        <h4 class="card-title text-center">Aktorzy</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.CommentController.getAll()">
                        <h4 class="card-title text-center">Komentarze</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.RateController.getAll()">
                        <h4 class="card-title text-center">Oceny</h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.OrderController.getAll()">
                        <h4 class="card-title text-center">Zamówienia</h4>
                    </a>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark">
                    <a class="card-body stretched-link text-decoration-none" href="@controllers.routes.PayController.getAll()">
                        <h4 class="card-title text-center">Płatności</h4>
                    </a>
                </div>
            </div>
        </div>
    </div>
}