@(rates: Seq[(Rate, Movie, User)])(implicit flash: Flash)

@import models.Rate
@import models.auth.User
@import views.html.bootstrap3._

@main("Oceny") {
    @alerts(flash)
    <table class="table" summary="Oceny">
        <thead>
            <tr>
                <th style="width: 5%" scope="col">#</th>
                <th scope="col">Użytkownik</th>
                <th scope="col">Film</th>
                <th scope="col">Ocena</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        @for(rate <- rates) {
            <tr>
                <th scope="row"><span class="badge badge-light">@rate._1.rateId</span></th>
                <td>@rate._3.firstName @rate._3.surname</td>
                <td><a href="@controllers.routes.MovieController.get(rate._2.movieId)">@rate._2.title</a></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar @if(rate._1.result < 4) {bg-danger} @if(rate._1.result > 7) {bg-success}" role="progressbar" style="width: @(rate._1.result * 10)%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="10">@rate._1.result</div>
                    </div>
                </td>
                <td class="text-right">
                    <a class="btn btn-sm btn-outline-info" href="@controllers.routes.RateController.update(rate._1.rateId)" role="button">Edytuj</a>
                    <a class="btn btn-sm btn-outline-danger" href="@controllers.routes.RateController.delete(rate._1.rateId)" role="button">Usuń</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@controllers.routes.RateController.create" class="btn btn-light float-right" role="button" aria-pressed="true">Dodaj</a>
}
